numpy==1.26.4
pandas==2.2.2
pandas-profiling==3.2.0
parso==0.8.4
patsy==0.5.6
python-dateutil==2.9.0.post0
streamlit==1.36.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-option-menu==0.3.13
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit_folium==0.21.1
requests==2.31.0
Unidecode==1.3.8
packaging==24.0
Office365-REST-Python-Client==2.5.11
openpyxl==3.1.3
fastparquet==2024.11.0
XlsxWriter==3.2.0
